[project]
	description = Concise UI Tests with Java!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jaypal Singh (jaypal)
[access "refs/for/refs/*"]
	read = group user/Jaypal Singh (jaypal)
	push = group user/Jaypal Singh (jaypal)
	label-Code-Review = -2..+2 group user/Jaypal Singh (jaypal)
	label-Verified = -1..+1 group user/Jaypal Singh (jaypal)
	rebase = group user/Jaypal Singh (jaypal)
	removeReviewer = group user/Jaypal Singh (jaypal)
	submit = group user/Jaypal Singh (jaypal)
[access "refs/heads/*"]
	read = group user/Jaypal Singh (jaypal)
	create = group user/Jaypal Singh (jaypal)
	push = +force group user/Jaypal Singh (jaypal)
	pushMerge = group user/Jaypal Singh (jaypal)
[access "refs/tags/*"]
	push = +force group user/Jaypal Singh (jaypal)
	pushTag = group user/Jaypal Singh (jaypal)
	pushSignedTag = group user/Jaypal Singh (jaypal)
